CrawlerApp.Client/bin/
CrawlerApp.Console/bin/
CrawlerApp.DataStore/bin/
CrawlerApp.Test/bin/
CrawlerApp.Client/obj/
CrawlerApp.Console/obj/
CrawlerApp.DataStore/obj/
CrawlerApp.Test/obj/
/.vs
**/azureKeyVault.json
