@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Web Crawler</h1>
    <h6 >By Zach Frazier</h6>
    <div class="container">
        <div class="row">
            <canvas class="col-6 mx-auto" id="myChart" width="400" height="400"></canvas>
        </div>
        
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/links.js"></script>
</div>

